---
import '../styles/base.css';
import { ReduxProvider as App } from '../providers/store';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro sample</title>
	</head>
	<body>
		<div class='flex flex-col items-center justify-center h-screen'>
			<h1 class='text-2xl xl:text-4xl font-bold mb-5'>
				ReactJS in Astro + Tailwind CSS + Redux
			</h1>
			<App client:only />
		</div>
	</body>
</html>
